<header>
  <h1 class="alert alert-dark" style="width:500px"><center><%= @merchant.name %></center></h1>
  <%= render partial: "/shared/merc_links", locals: {merchant: @merchant} %><br>
</header>
<center> <%= render partial: "/shared/flash" %> </center>
<h3 class="alert alert-info"><center>Create a New Bulk Discount</center> </h3>

<%= render partial: "bulk_discount_form",
          locals: { merchant: @merchant,
                    discount: BulkDiscount.new} %>
