<h3 class="alert alert-dark" style="width:300px">Admin Dashboard</h3>
<%= render "/shared/admin_links" %><br>
<h1 class="alert alert-info"><center>Admin Invoices</center> </h1>

  <div id="table-wrapper">
    <div id="table-scroll">
      <table class="table table-striped table-borderless" style="width:50%">
        <thead >
          <tr>
            <th scope="col"><span class="text white_glow"><h2>Invoice ID:</h2></span></th>
          </tr>
        </thead>
        <% @invoices.each do |invoice| %>
          <tbody>
            <tr>
              <td><%=link_to "Invoice ##{invoice.id}", admin_invoice_path(invoice), style: "color:white"%></td>
            </tr>
          </tbody>
        <% end %>
        </table>
      </div>
   </div>
