<div class="nav justify-content-end">
  <%= button_to "Admin Dashboard", "/admin", method: :get, class: "btn btn-outline-light" %>
  <%= button_to "Merchants", "/admin/merchants", method: :get, class: "btn btn-outline-light" %>
  <%= button_to "Invoices", "/admin/invoices", method: :get, class: "btn btn-outline-light" %>
</div>
