<div class="nav justify-content-end">
  <%= button_to "Dashboard", "/merchant/#{merchant.id}/dashboard", method: :get, class: "btn btn-outline-light" %>
  <%= button_to "My Items", "/merchant/#{merchant.id}/items", method: :get, class: "btn btn-outline-light" %>
  <%= button_to "My Invoices", "/merchant/#{merchant.id}/invoices", method: :get, class: "btn btn-outline-light" %>
  <%= button_to "My Bulk Discounts", "/merchant/#{merchant.id}/bulk_discounts", method: :get, class: "btn btn-outline-light" %>
</div>
