<div class="links">
  <ul>
    <h1><%= merchant.name %></h1>
    <button class="button4"><%= link_to "Dashboard", "/merchant/#{merchant.id}/dashboard", style: "text-decoration:none" %></button>
    <%= button_to "My Items", "/merchant/#{merchant.id}/items", method: :get%>
    <%= button_to "My Invoices", "/merchant/#{merchant.id}/invoices", method: :get%>
  </ul>
</div>
