<div id="table-wrapper" style="float:right">
  <div id="table-scroll">
    <table class="table table-striped table-borderless">
      <thead>
        <tr>
          <th scope="col"><span class="text white_glow"><h2>Disabled Merchants</h2></span></th>
        </tr>
      </thead>
      <tbody>
        <% @facade.merchants.disabled.each do |merchant|  %>
          <tr>
              <td><%=link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}", style: "color:white"%></td>
              <td>
                <div class="btn-group" id="merchant_dis-<% merchant.id %>">
                  <%= button_to "Enabled", "/admin/merchants/#{merchant.id}", method: :patch, local: true, class: "btn btn-secondary btn-sm ", params:{status: "enabled"} %>
                </div><br>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
