<h3 class="alert alert-dark" style="width:300px">Admin Dashboard</h3>
<%= render "/shared/admin_links" %><br>
<h1 class="alert alert-info"><center>Merchants Dashboard</center> </h1>


<table class="table">
  <tr>
    <th><%= render partial: "enabled" %></th>
    <th><%= render partial: "disabled" %></th>
  </tr>
</table>
